p {
  margin: 0px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Sets style features of components */
.noDisplay {
  display: none;
}

.gridContainer {
  justify-content: center;
  display: grid;
  margin: 1rem;
}

.input_video {
  display: none;
}

#linkReport {
  display: none;
}

.leftPlayer {
  margin-left: auto;
  margin-right: auto;
}

.rightPlayer {
  margin-left: auto;
  margin-right: auto;
}

.scorePlayAndTrack {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.playButtonBtn {
  justify-content: center;  
  color: #606266;
  background: white;
  border-radius: 5px;
  border-color: lightgray;
}

.playButtonTxt{
  justify-content: center;
}

.handTracking {
  margin-left: auto;
  margin-right: auto;
}

.moreInfo {
  margin-left: auto;
  margin-right: auto;
}

.leftConfidence {
  margin-left: 0px;
}

.rightConfidence {
  margin-left: 0px;
}

.leftChangeBtn {
  margin-left: auto;
  margin-right: auto;
}

.rightChangeBtn {
  margin-left: auto;
  margin-right: auto;
}

/*Responsiv UI */

/*Grid layout for small sizes screens that can only fit one columns across screen
Note this website UI only properly supports devices with width >= 320 px.
Smaller devices than this are very rare and hence not designed for.*/
@media only screen and (max-width: 742px) {
  /* Defines font size and position for score, enable tracking and play button components */
  .score {
    font: 15px "Ledger", seriff;
  }
  
  .playButtonBtn {
    font: 15px "Arial";
  }
  
  .playButtonTxt{
    font: 15px "Ledger", seriff;
  }

  .leftChangeBtn{
    font-size: 10px;
  }

  .rightChangeBtn{
    font-size: 10px;
  }

  /* Sets grid layout and places items on grid */
  .gridContainer {
    grid-template-columns: 302px;
    grid-template-rows: 324px 324px 70px 20px 20px 20px 100px 100px;
    gap: 2px;
  }
  
  .leftPlayer {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .rightPlayer {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .scorePlayAndTrack {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .leftChangeBtn {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .rightChangeBtn {
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .moreInfo {
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .leftConfidence {
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .rightConfidence {
    grid-row-start: 8;
    grid-row-end: 9;
  }
}

/* Grid layout defined for screens large enough to fit intended UI across screen */
@media only screen and (min-width: 743px) {
  /* Defines font size and position for score, enable tracking and play button components */
  .score {
    margin-top: 80px;
    font: 32px "Ledger", seriff;
  }
  
  .playButtonBtn {
    font: 32px "Arial";
  }
  
  .playButtonTxt{
    font: 32px "Ledger", seriff;
  }
  /*Defines grid layout for large screens */
  .gridContainer {
    grid-template-columns: 302px 100px 302px;
    grid-template-rows: 324px 100px 100px;
    gap: 5px;
  }
  
  .leftPlayer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .rightPlayer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .scorePlayAndTrack {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .moreInfo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .leftConfidence {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .rightConfidence {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .leftChangeBtn {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .rightChangeBtn {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
